{{#partial content}}
    <h1>Index</h1>

    <h2>RSS Feeds</h2>
    <ul>
        {{#each config.channels}}
            <li><a href="{{url}}">{{name}}</a></li>
        {{/each}}
    </ul>
{{/partial}}
{{~> layout~}}
